$body-bgc: rgb(250, 248, 248);
$orange-dark: #e79107;
$orange-light: #ff9f00;
$nav-bars: #f0e9e9;
$heading-color: #252422;
$main-color: #fff;
$item-color: #252422;
$background-dark: #231f20;
$linear: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.76));
$linear-offers: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.795));
